header{
  text-align: center;
  margin-top: 5px;
}

p{
  Font-family: freestyle scripe;
  color: light purple;
}
h1{
  Font-size: 36px;
  Padding: 15px;
  backround-color: white;
}
Footer{
  display: inline-block;
  font-size: 14px;
  background-color: #242f44;
}
body{
  backgrpund-color: #242f44;
  color: white;
  font-family: ''Oswald', sans-serif
}
<ul>{
  <li> Clothes</li>
  <li> fashion</li>
}
</ul>
  >ol>{
    <li> get a proper simple color of dress</li>
    <li> Style with some high heels </li>
    <li> Be confident and take some pictures</li>
  }
  
