header{
  text-align: center;
  margin-top: 5px;
}

p{
  Font-family: freestyle scripe;
  color: light purple;
}
h1{
  Font-size: 36px;
  Padding: 15px;
  backround-color: white;
}
Footer{
  display: inline-block;
  font-size: 14px;
  background-color: #242f44;
}
body{
  backgrpund-color: #242f44;
  color: white;
  font-family: ''Oswald', sans-serif
}
ul {
  list-style: square;
  color: light blue
}

  ol {
  font-styles: italic;
    background-position: center;
  }
  
